button
{
    color: black;
}

input[type=text]
{
  padding: 10px 10px;
  font-size: 1.2em;
}


.poll-question-text
{
  width:  95%
}

.poll-answer-box
{
  margin-top: 10px;
  .poll-answer-element
  {
      display: flex;
      align-items: center;
      margin: 0 0 0 20px;
      p
      {
        margin: 0.3em 0 0.3em 10px ;
      }
  }

}

.poll-answer-form
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .poll-answer-text{
   width: 100%;
   margin: 0 10px;
  }

  .poll-answer-button
  {
    width: 300px;
  }
}

.poll-addquestion-button, .poll-save--button
{
  width: 100%;
}
