@import "../abstracts/variable";

button
{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px 15px;
    color:white;
    background-color: transparent;
    outline: none;
    padding: 10px 30px;
    border: solid 2px rgba($color: #ffffff, $alpha: 1.0);
    border-radius: 20px;
    opacity: 0.5;
    transition: opacity ease-in 0.3s;
    &:hover
    {
        opacity: 1;
    }

    &:disabled
    {
        opacity: 0.5;
    }
}



.button-primary
{
    position: relative;
    background-color: $primary-collor;
    color: white;
}

