@import "../styles/abstracts/variable";

@media only screen and (max-width: 1100px) {
  .body-card {
    width: 80% !important;
  }
  .body-navbar {



    .navbar-menu {
      flex-direction: column;
      grid-row: 2;
      grid-column: 5 !important;
      position: relative;
      z-index: 100;
      height: 100%;
      transition: height ease-in 0.3s !important;
      transform: translateY(-30px);
    }

    .navbar-menu-diplay-none {
      height: 0px;
      grid-template-rows: 200px 200px;
    }



  }
}

.body-background {
  position: absolute;
  top: 0;
  height: 700px;
  width: 100vw;
  clip-path: ellipse(100% 700px at 10% 0%);
  background-color: $primary-collor;
  z-index: 1;
}


.body-navbar {
  position: relative;
  display: grid;
  grid-template-columns: 30px 200px 1fr auto  150px 30px;
  grid-template-rows: 200px ;
  align-items: center;
  justify-items: center;
  z-index: 10;
  .navbar-logo {
    grid-column: 2;
    align-self: flex-end;

    p {
      color: white;
      font-size: 2.3em;

      &::first-letter {
        font-size: 2em;
      }
    }
  }

  .navbar-menu {
    grid-column: 4;
    transition: width ease-in 0.3s;
    overflow: hidden;
    width: 100%;
    display: flex;
    }

    .navbar-menu-diplay-none {
      width: 0px;
    }

    .menu-icon {
      grid-column: 5;
      grid-row: 1;
      font-size: 2em;
      color: white;
      opacity: 0.7;

      &:hover
      {
        opacity: 1;
      }

  }

  .navbar-avatar {
    grid-column: 5;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    border: solid 2px rgba($color: #ffffff, $alpha: 0.7);
    transition: box-shadow ease-in 0.3s;
    img {
      height: 100%;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0px 0px 15px 4px rgba($color: #ffffff, $alpha: 0.5);
    }
  }
}

.body-card {
  margin: 40px auto;
  position: relative;
  height: 1500px;
  width: 1000px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  .card-title {
    width: 100%;
    height: 60px;
    background-color: $secondary-collor;

    h1 {
      margin: 0;
      padding: 15px 0 0 50px;
      color: white;
      font-size: 1.6em;
    }
  }

  .card-body {
    padding: 10px 20px 10px 40px;
  }
}
