@import "../styles/abstracts/variable";

@media only screen and (max-width: 1100px) {

    .body-card
    { 
        width: 80% !important;
    }
}

.body-background 
{
    position: absolute; 
    top: 0; 
    height: 500px;
    width: 100vw;
    clip-path: ellipse(100% 500px at 10% 0%);
    background-color: $primary-collor;
    z-index: 1;
    
}
.body-card
    {   
        margin: 40px auto;
        position: relative;
        top:190px;
        height: 1500px;
        width: 1000px;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 10;
        .card-title
        {
            width: 100%;
            height: 60px;
            background-color: $secondary-collor;

            h1 
            {
                margin: 0;
                padding: 15px 0  0 50px;
                color: white;
                font-size: 1.6em;
                
            }
        }

        .card-body
        {
            padding: 10px 20px;
        }

    

        
    }

.body-navbar
{
    display: grid;
    grid-template-columns: 30px 200px 8fr auto 4fr 100px 30px;
    height: 100px;
    
    .navbar-logo 
    {
        grid-column: 2;
        align-self: flex-end;

        p{
            color: white;
            font-size: 2.3em;
            
            &::first-letter
            {
                font-size: 2em;
                
            }
        }
    }
    
    .navbar-menu
    {   
        grid-column: 4;
        justify-self: center;
        align-self: center;
    }
   
    .navbar-avatar
    {
        grid-column: 6;
        align-self: center;
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 50%;
        border: solid 2px rgba($color: #ffffff, $alpha: 0.7);
        transition:  box-shadow ease-in 0.3s;
        img 
        {
            
            height: 100%;
            border-radius: 50%;
        }
        
        &:hover 
        {
            box-shadow: 0px 0px 15px 4px rgba($color: #ffffff, $alpha: 0.5);
        }
        


        
    }

    
}

