@import "../styles/abstracts/variable";

@media only screen and (max-width: 1100px) {

    .body-card
    { 
        width: 500px !important;
    }
}

.body-background 
{
    position: absolute;  
    height: 500px;
    width: 100vw;
    clip-path: ellipse(100% 500px at 10% 0%);
    background-color: $primary-collor;
    z-index: 1;
    
}
.body-card
    {   
        margin: 40px auto;
        position: relative;
        top:150px;
        height: 500px;
        width: 1000px;
        background-color: white;
        z-index: 10;
        border: solid 1px black;
    }

.body-navbar
{
    display: grid;
    grid-template-columns: 30px 200px 8fr auto 4fr 100px 10px;
    height: 100px;
    
    .navbar-logo 
    {
        grid-column: 2;

        p{
            color: white;
            font-size: 2em;
            margin: 10px 0 0 0 ;
            &::first-letter
            {
                font-size: 2em;
                
            }
        }
      
        
    }
    
    .navbar-menu
    {   
        grid-column: 4;
        justify-self: center;
        align-self: center;
    }
   
    .navbar-avatar
    {
        grid-column: 6;
        align-self: center;
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 50%;
    }

    
}

