.continer
{

  span
  {
    font-size: 1.3em;
    &::after
    {
      content: ".";
    }
  }

  ul
  {
    list-style: none;
    .list-row
    {
      display: flex;
      align-items: center;

      fa-icon
      {
        margin-right: 10px;
      }
      li
      {
        font-weight: 400;
        margin: 5px 0;
      }
    }

  }

}
