<div class="continer">
<h3 class="title"><span>1</span> Lipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio velit, vestibulum ut felis sodales, maximus blandit elit. Aenean vitae.</h3>
<ul>
  <li>Lorem ipsum dolor.</li>
  <li>Lorem ipsum dolor.</li>
  <li>Lorem ipsum dolor.</li>
  <li>Lorem ipsum dolor.</li>
</ul>
</div>
<div class="continer">
  <h3><span>2</span> Lipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio velit, vestibulum ut felis sodales, maximus blandit elit. Aenean vitae.</h3>
  <ul>
    <li>Lorem ipsum dolor.</li>
    <li>Lorem ipsum dolor.</li>
    <li>Lorem ipsum dolor.</li>
    <li>Lorem ipsum dolor.</li>
  </ul>
  </div>
